.about {
  width: 100%;
  background: linear-gradient(180deg, #FFF 4.07%, #F7F7FB 100%);
  padding: 140px 0;
  position: relative;
  z-index: 0;
  overflow: hidden;

  .about__container {
    max-width: 1066px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .about__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      .about__info-text {
        color: rgba(8, 10, 8, 0.35);
        font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 550;
        line-height: 90%; /* 14.4px */
        letter-spacing: 0.96px;
      }

      .about__info-title {
        color: #080A08;
        text-align: center;
        font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 550;
        line-height: 100%; /* 48px */
        letter-spacing: -0.96px;
      }

      .about__info-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        max-width: 814px;

        .about__info-description-text {
          color: rgba(8, 10, 8, 0.80);
          text-align: center;
          font-family: "SF UI Display", 'Arial', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 27px */
          letter-spacing: -0.36px;
        }
      }
    }
  }

  .about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about__content-card {
      display: flex;
      flex-direction: column;
      max-width: 342px;
      max-height: 300px;
      min-height: 300px;
      height: 100%;
      width: 100%;
      padding: 18px 20px 0;
      border-radius: 18px;
      background: #FFF;
      box-shadow: 0px 3px 32px -1px rgba(0, 0, 0, 0.12);
      overflow: hidden;

      .about__content-card-badge {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        .about__content-card-text {
          color: #080A08;
          font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 136%;
          letter-spacing: 0.36px;

          .about__content-card-text-bold {
            font-weight: 500;
          }
        }
      }
      .about__content-card-img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        margin-top: auto;
        max-height: 225px;
      }
    }
  }

  .about__bg {
    max-width: 622px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: -205px;
    left: -100px;
    background-image: url("../../images/about/about-bg.svg");
    background-repeat: no-repeat;
  }
}
