.doors {
  background: #f7f7fb;
  padding-bottom: 76px;

  .doors__about {
    width: 100%;

    .doors__about-container {
      .doors__about-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .doors__about-content-card {
          display: flex;
          flex-direction: column;
          max-width: 342px;
          max-height: 300px;
          min-height: 300px;
          height: 100%;
          width: 100%;
          padding: 18px 20px 0;
          border-radius: 18px;
          background: #fff;
          box-shadow: 0px 3px 32px -1px rgba(0, 0, 0, 0.12);
          overflow: hidden;

          .doors__about-content-card-badge {
            display: flex;
            align-items: flex-start;
            gap: 16px;

            .doors__about-content-card-text {
              color: #080a08;
              font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 136%;
              letter-spacing: 0.36px;

              .doors__about-content-card-text-bold {
                font-weight: 500;
              }
            }
          }

          .doors__about-content-card-img {
            width: 100%;
            object-fit: cover;
            object-position: top;
            margin-top: auto;
            max-height: 225px;
          }
        }
      }
    }
  }

  .doors__container {
    max-width: 1360px;
    margin: 0 auto;
    border-radius: 24px;
    background: linear-gradient(180deg, #fff 4.07%, #f7f7fb 100%);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 74px;
    padding: 65px 0 72px 0;

    .doors__container-img {
      position: absolute;
      z-index: 2;
      object-fit: cover;
      border-radius: 10px;
      border: 7px solid #fff;
    }

    .left-absolute-img {
      max-width: 207px;
      min-height: 260px;
      top: 70px;
      left: -70px;
    }

    .right-absolute-img {
      max-width: 218px;
      min-height: 241px;
      top: 100px;
      right: -90px;
    }

    .doors__container-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      max-width: 782px;

      .doors__container-info-text {
        color: rgba(8, 10, 8, 0.35);
        font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 550;
        line-height: 90%; /* 14.4px */
        letter-spacing: 0.96px;
        text-transform: uppercase;
      }

      .doors__container-info-title {
        color: #080a08;
        text-align: center;
        font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 550;
        line-height: 100%; /* 48px */
        letter-spacing: -0.96px;
        max-width: 690px;

        .doors__container-info-title-icon {
          background-image: url('../../images/doors/doors-icon.svg');
          width: 46px;
          height: 46px;
          background-repeat: no-repeat;
          background-position: bottom;
          display: inline-block;
        }
      }

      .doors__container-info-description {
        margin-top: 4px;
        color: rgba(8, 10, 8, 0.8);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        letter-spacing: -0.4px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .doors {
    .doors__container {
      max-width: 1160px;
    }
  }
}

@media screen and (max-width: 1340px) {
  .doors {
    .doors__container {
      max-width: 800px;

      .doors__container-info {
        max-width: 500px;

        .doors__container-info-text {
          font-size: 14px;
        }

        .doors__container-info-title {
          font-size: 38px;

          .doors__container-info-title-icon {
            background-size: cover;
            height: 38px;
            width: 38px;
          }
        }

        .doors__container-info-description {
          font-size: 16px;
        }
      }
    }

    .doors__about {
      .doors__about-container {
        .doors__about-content {
          padding: 0 15px;
          .doors__about-content-card {
            .doors__about-content-card-badge {
              .doors__about-content-card-badge-img {
                width: 30px;
                object-fit: cover;
              }
              .doors__about-content-card-text {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .doors {
    padding-bottom: 130px;
    .doors__container {
      max-width: 343px;
      .doors__container-img {
        display: none;
      }
      .doors__container-info {
        .doors__container-info-title {
          font-weight: 450;
        }
      }

      .doors__about {
        .doors__about-container {
          .doors__about-content {
            flex-direction: column;
          }
        }
      }
    }
  }
}
