.gallery {
  max-width: 1357px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 121px;

  .gallery__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;

    .gallery__info-text {
      color: #ffd874;
      font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 90%; /* 14.4px */
      letter-spacing: 0.96px;
      text-transform: uppercase;
    }

    .gallery__info-title {
      color: #fff;
      text-align: center;
      font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 550;
      line-height: 100%; /* 48px */
      letter-spacing: -0.96px;
    }
  }

  .gallery__content-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Четыре столбца */
    grid-gap: 14px;

    .gallery__content-card {
      cursor: pointer;
      img {
        border-radius: 10px;
        height: 214px;
        object-fit: cover;
        min-width: 329px;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .gallery {
    max-width: 1280px;
    .gallery__content-img {
      .gallery__content-card {
        img {
          min-width: 305px;
        }
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .gallery {
    max-width: 980px;
    .gallery__info {
      .gallery__info-text {
        font-size: 14px;
      }

      .gallery__info-title {
        font-size: 38px;
      }
    }

    .gallery__content {
      .gallery__content-img {
        .gallery__content-card {
          img {
            min-width: 230px;
          }
        }
      }
    }
  }
}
