.review {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 52px;
  padding: 117px 0 80px 0;
  max-width: 1359px;
  margin: 0 auto;
  width: 100%;

  &::after {
    content: '';
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .review__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .review__info-text {
      color: #ffd874 !important;
      font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 90%; /* 14.4px */
      letter-spacing: 0.96px;
      text-transform: uppercase;
    }

    .review__info-title {
      color: #fff;
      font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 550;
      line-height: 90%; /* 43.2px */
      letter-spacing: -0.96px;
    }
  }

  .review__static {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;

    .review__static-card {
      display: flex;
      align-items: flex-start;
      gap: 30px;

      .review__static-response {
        display: flex;
        flex-direction: column;
        min-width: 471px;
        width: 100%;
        padding: 25px 31px;
        box-sizing: content-box;

        .review__quote-static {
          max-width: 46px;
        }

        .review__static-response-title {
          margin: 19.5px 0 7.3px 0;
          color: #fff;
          font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
          font-size: 29.213px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 35.056px */
          letter-spacing: -0.584px;
        }

        .review__static-response-description {
          color: rgba(255, 255, 255, 0.8);
          font-family: 'SF UI Display', 'Arial', sans-serif;
          font-size: 24.345px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 34.082px */
          letter-spacing: -0.487px;
        }

        .review__static-response-user {
          margin-top: 22px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .review__static-response-user-info {
            display: flex;
            align-items: center;
            gap: 12px;

            .review__statis-response-user-info-img {
              max-width: 43px;
              object-fit: cover;
              border-radius: 50%;
            }

            .review__static-response-user-info-name,
            + .review__static-response-user-city {
              font-size: 21.91px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%; /* 30.674px */
              letter-spacing: -0.438px;
            }
          }
        }
      }

      .review__static-photos {
        display: flex;
        gap: 19px;

        .review__static-card-img {
          border-radius: 12.172px;
          max-width: 215px;
          min-height: 152px;
        }

        .big-img {
          min-width: 468px;
          min-height: 325px;
          height: 100%;
          object-fit: cover;
        }

        .review__static-photos-small {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }

  .swiper__container {
    position: relative;
    width: 100%;
  }
  .swiper {
    overflow: hidden;
    position: unset;
    .swiper-button-prev {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translate(-50%);
      color: rgb(196, 191, 191);

      &:after {
        font-size: 30px;
      }
    }

    .swiper-button-next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translate(-50%);
      color: rgb(196, 191, 191);

      &:after {
        font-size: 30px;
      }
    }
  }

  .review__dynamic {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    max-width: 1273px !important;

    .dynamic-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 380px;
      padding: 20px 13.5px;
      box-sizing: content-box;

      .dynamic-card-img {
        max-width: 380px;
        min-height: 262px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .review__static-response {
        display: flex;
        flex-direction: column;

        .review__quote-dynamic {
          width: 33px;
          height: 33px;
          margin-bottom: 12px;
        }

        .dynamic-card-title {
          color: #fff;
          font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 24px */
          letter-spacing: -0.4px;
          margin-bottom: 6px;
        }

        .dynamic-card-description {
          color: rgba(255, 255, 255, 0.8);
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 26.6px */
          letter-spacing: -0.38px;
        }

        .review__static-response-user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 16px;

          .review__static-response-user-info {
            display: flex;
            gap: 10px;
            align-items: center;
          }

          .dynamic-user-info-img {
            width: 33px;
            height: 33px;
            object-fit: cover;
            border-radius: 50%;
          }

          .dynamic-user-info-name {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 25.2px */
            letter-spacing: -0.36px;
          }

          .dynamic-user-city {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
            letter-spacing: -0.36px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .review {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1340px) {
  .review {
    max-width: 980px;
    .review__info {
      gap: 20px;
      .review__info-text {
        font-size: 14px;
      }

      .review__info-title {
        font-size: 38px;
      }
    }

    .review__static {
      .review__static-card {
        .review__static-response {
          min-width: 320px;
          .review__quote-static {
            width: 30px;
          }

          .review__static-response-title {
            font-size: 20px;
          }

          .review__static-response-description {
            font-size: 16px;
          }

          .review__static-response-user {
            .review__static-response-user-info {
              .review__static-response-user-info-name,
              + .review__static-response-user-city {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 30.674px */
                letter-spacing: -0.438px;
              }
            }
          }
        }
        .review__static-photos {
          .big-img {
            min-width: 340px;
            min-height: 205px;
          }

          .review__static-photos-small {
            .review__static-card-img {
              max-width: 175px;
              min-height: 60px;
            }
          }
        }
      }
    }

    .swiper__container {
      width: 90%;
      .swiper {
        .review__dynamic {
          .dynamic-card {
            max-width: 340px;
            .review__static-card-img {
              width: 100%;
              min-height: 205px;
            }

            .review__static-response {
              .review__quote-dynamic {
                width: 30px;
                height: 30px;
              }

              .dynamic-card-title {
                font-size: 18px;
              }

              .dynamic-card-description {
                font-size: 16px;
              }

              .review__static-response-user {
                .review__static-response-user-info {
                  .review__static-response-user-info-name,
                  + .review__static-response-user-city {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 30.674px */
                    letter-spacing: -0.438px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .review {
    padding: 100px 0 80px 0;
    max-width: 320px;

    &::after {
      margin: 0;
    }

    .review__info {
      .review__info-title {
        font-size: 35px;
      }
    }

    .review__static {
      max-width: 320px;
      gap: 40px;

      .review__static-card {
        .review__static-response {
          padding: 0;
          order: 1;
        }
        width: 100%;
        flex-direction: column;

        .review__static-photos {
          flex-direction: column;
          gap: 12px;
          max-width: 100%;

          .big-img {
            max-width: 100%;

            min-width: unset;
          }
          .review__static-photos-small {
            flex-direction: row;
            gap: 12px;

            .review__static-card-img {
              max-width: 48%;
            }
          }
        }
      }
    }
  }
}
