@font-face {
  src: url(./woff/HelveticaNeueCyr-Roman.woff) format('woff2'),
    url(./ttf/HelveticaNeueCyr-Roman.ttf) format('truetype');
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
}

@font-face {
  src: url(./woff/HelveticaNeueCyr-Medium.woff) format('woff2'),
    url(./ttf/HelveticaNeueCyr-Medium.ttf) format('truetype');
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
}

@font-face {
  src: url(./woff/HelveticaNeueCyr-Bold.woff) format('woff2'),
    url(./ttf/HelveticaNeueCyr-Black.ttf) format('truetype');
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
}

@font-face {
  src: url(./ttf/sf-ui-display-regular.ttf) format('truetype');
  font-family: 'SF UI Display';
  font-weight: 400;
}

@font-face {
  src: url(./ttf/sf-ui-display-medium.ttf) format('truetype');
  font-family: 'SF UI Display';
  font-weight: 500;
}
